<%= turbo_stream.remove "comments_empty_state" %>

<% if @comment.parent_id.present? %>
  <%# Reply: replace parent comment (which will show replies container and reset reply form) %>
  <%= turbo_stream.replace dom_id(@comment.parent) do %>
    <%= render "comments/comment", comment: @comment.parent.reload, commentable: @place %>
  <% end %>
<% else %>
  <%# Top-level comment: append to main list %>
  <%= turbo_stream.append "comments_list" do %>
    <%= render "comments/comment", comment: @comment, commentable: @place %>
  <% end %>

  <%# Reset main comment form %>
  <%= turbo_stream.replace "comment_form" do %>
    <%= render "comments/form", commentable: @place %>
  <% end %>
<% end %>

<%# Update comment count %>
<%= turbo_stream.update "comments_count" do %>
  <span class="px-3 py-1 rounded-full bg-lavender-light text-lavender-dark text-sm font-medium">
    <%= @place.comments.count %> <%= "comment".pluralize(@place.comments.count) %>
  </span>
<% end %>
